@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #eeeeee;
  --background-color: #222831;
}

body {
  overscroll-behavior: none;
  background: linear-gradient(180deg, #0a0909 0%, #0a0909 17.71%, #292828 100%);
}

html {
  font-family: var(--font-raleway);
}

.logo {
  font-family: var(--font-source-code);
}

nav {
  font-family: var(--font-source-code);
  font-weight: 500;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-custom::-webkit-scrollbar {
  background: #292828;
  border-radius: 50px;
  height: 0.65rem;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(255, 211, 105, 1);
  border-radius: 50px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rotateY {
  transform: rotateY(180deg);
}
