@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #eeeeee;
  --background-color: #222831;
}

body {
  background-color: rgb(17 24 39);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rotateY {
  transform: rotateY(180deg);
}
